body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #222;
}

.big-square {
    position: relative;
    width: 300px;
    height: 300px;
    background: #fff;
    border: 4px solid black;
}

.timer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 32px;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

.small-square {
    width: 30px;
    height: 30px;
    background: red;
    position: absolute;
}

/* позиции маленьких квадратов */
.s1 { top: 10px; left: 10px; }
.s2 { top: 10px; right: 10px; }
.s3 { bottom: 10px; left: 10px; }
.s4 { bottom: 10px; right: 10px; }